<!DOCTYPE html>
<html>

    <head>
        {% include head.html %}
    
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href={{ "/assets/flickity.css" | relative_url }} media="screen">
        <link rel="stylesheet" href={{ "/assets/projects.css" | relative_url }}>
        <script src={{ "/assets/flickity.pkgd.js" | relative_url }}></script>
    </head>
    <body>
        {% include header.html %}

        {% for project in site.data.projects.projects %}            
        <div class="gallery-container">
        <div class="gallery-content">
            <h3>{{project.title}}</h3>
            <p>{{project.desc}} </p>
            <a class="link" href={{project.link}}>learn more</a>
        </div>
        <div class="gallery js-flickity">
            {% for image_path in project.images %}            
            <img src={{ image_path | relative_url }} class="gallery-cell"/>                        
            {% endfor %}
        </div>
        </div>
        {% endfor %}
          {% include footer.html %}
          {% include foot.html %}
    </body>
</html>